.FilterLink {
    cursor: pointer;
    color: grey;
    font-size: 12px;
    padding-left: 4px;
    padding-right: 4px;
}

.FilterLink--active {
    font-weight: 500;
    cursor: default;
    color: blue;
}
