.app {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.app__header {
    font-family: 'Galada', cursive;
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    color: black;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
}
